
<h4>I have 3 years + experience in Android native app development.</h4>
<p>Developed more than 10 apps for client touching various core concepts of Android SDK.Also have put forwarded several Proof of Concepts.</p>
<p>Along with these developed several internal applications for TCS.</p>

<ul>
  List of Applicaions for client.
  <li>Gordon</li>
  <li>Global Chronos</li>
  <li>Info Service</li>
  <li>Ericsson GO</li>
  <li>ECUT</li>
  <li>My IT Alerts</li>
  <li>Media CRM 360</li>
  <li>People Finder</li>
</ul>
