<form class="compdiv" [formGroup]="contactmeForm" (ngSubmit)="onSubmit()">

  <header>Please share your information</header>


  <mat-form-field>
    <input matInput placeholder="Name" formControlName="name">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Email" type="email" formControlName="email">
  </mat-form-field>


  <mat-form-field>
    <textarea matInput placeholder="Comments" formControlName="comments"></textarea>
  </mat-form-field>


  <button mat-raised-button color=primary type="submit" [disabled]="!contactmeForm.valid">Submit</button>



</form>