<div style="background-color: white;display: flex;flex-direction: column">


  <div class="titlebanner">
      <div>Android</div>

  </div>
  <div>
      <mat-tab-group>
          <mat-tab label="Experience"> <androidexp></androidexp></mat-tab>
          <mat-tab label="Topics"><androidtopics></androidtopics></mat-tab>
          <mat-tab label="Roles"><androidroles></androidroles> </mat-tab>
          <mat-tab label="App Screens"><androidscreens></androidscreens> </mat-tab>
        </mat-tab-group>
  </div>
 





</div>