.fabbutton{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 998;
}

.chatwindow{
    height: 400px;
    width: 300px;
    background-color: whitesmoke;
    z-index: 999;
    position: fixed;
    flex: 10;
    padding: 0px;
    margin: 0px;
    bottom: 40px;
    right: 40px;
    box-sizing: border-box;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
@media only screen and (max-width: 600px) {
    .chatwindow{
        height: 400px;
        width: 100%;
        background-color: whitesmoke;
        z-index: 999;
        position: fixed;
        flex: 10;
        padding: 0px;
        margin: 0px 0px 26px 0px;
        bottom: 0px;
        right: 0px;
        box-sizing: border-box;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
}
