<div class="compdiv">
  <div class="header">

    <div class="headerdiv">
      <h1 >SriMaharshi Manchem</h1>

      <h2>I'm a self taught Android native app developer and MEAN stack developer </h2>

    </div>
  </div>

  <div class="majortopicsdiv">

    <mat-card class="carddiv">

      <mat-card-header>
      
        <mat-card-title>Android</mat-card-title>
        <mat-card-subtitle>Native app development</mat-card-subtitle>
      </mat-card-header>
    
      <mat-card-content>
          <img class="cardimg" src="https://developer.android.com/_static/c3460225a3/images/android/lockup.svg" alt="Android Pics">
        <p>
          3 years + experience in developing and designing mobile applications with expertise in Android native apps.Worked as both developer and technical lead.Primary contact for client in assisting development and submiting deliverables. 
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button routerLink="/android"> Go</button>
      
      </mat-card-actions>
    </mat-card>
    <mat-card class="carddiv">
      <mat-card-header>
        
        <mat-card-title>Angular 4+</mat-card-title>
        <mat-card-subtitle>Front end development</mat-card-subtitle>
      </mat-card-header>
     
      <mat-card-content>
          <img class="cardimg" src="../../assets/angular_icon.png" alt="Angular Pic">
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
          very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="carddiv">
        <mat-card-header>
        
            <mat-card-title>Nodejs</mat-card-title>
            <mat-card-subtitle>Backend app development</mat-card-subtitle>
          </mat-card-header>
         
          <mat-card-content>
              <img class="cardimg" src="../../assets/nodejs.png" alt="Angular Pic">
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
              very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
    </mat-card>
    <mat-card class="carddiv">
        <mat-card-header>
        
            <mat-card-title>MongoDB</mat-card-title>
            <mat-card-subtitle>Database layer</mat-card-subtitle>
          </mat-card-header>
         
          <mat-card-content>
              <img class="cardimg" src="../../assets/mongodb.png" alt="Angular Pic">
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
              very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
    </mat-card>
  </div>

<footer>

  <div> contact me</div>

</footer>

</div>