<div class="compdiv">
  <div class="header">

    <div class="headerdiv">
      <h1 >SriMaharshi Manchem</h1>

      <h2>I'm a self taught Android native app developer and MEAN stack developer.</h2>

    </div>
  </div>

  <div class="majortopicsdiv">

    <mat-card class="carddiv">

      <mat-card-header>
      
        <mat-card-title>Android</mat-card-title>
        <mat-card-subtitle>Native app development</mat-card-subtitle>
      </mat-card-header>
    
      <mat-card-content>
          <img class="cardimg" src="https://developer.android.com/_static/c3460225a3/images/android/lockup.svg" alt="Android Pics">
        <p>
          3 years + experience in developing and designing mobile applications with expertise in Android native apps.Worked as both developer and technical lead.Primary contact for client in assisting development and submiting deliverables. 
        </p>
      </mat-card-content>
      <!-- <mat-card-actions>
        <button mat-raised-button routerLink="/android"> Go</button>
      
      </mat-card-actions> -->
    </mat-card>
    <mat-card class="carddiv">
      <mat-card-header>
        
        <mat-card-title>Angular</mat-card-title>
        <mat-card-subtitle>Front end development</mat-card-subtitle>
      </mat-card-header>
     
      <mat-card-content>
          <img class="cardimg" src="../../assets/angular.svg" alt="Angular Pic">
        <p>
          1 year 6 months of project level experience in developing and designing web apps using Angular. Worked from initial release of Angular with Typescript(Angular 2+).
          Experienced in converting Angular web apps to Progressive Web apps(PWA).
        </p>
      </mat-card-content>
      <!-- <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions> -->
    </mat-card>
    <mat-card class="carddiv">
        <mat-card-header>
        
            <mat-card-title>Nodejs</mat-card-title>
            <mat-card-subtitle>Backend app development</mat-card-subtitle>
          </mat-card-header>
         
          <mat-card-content>
              <img class="cardimg" src="../../assets/nodejs_logo.svg" alt="Angular Pic">
            <p>
              Well experienced in developing middle tier and REST API using Nodejs as backend.Always been up to date the new features and releases of Nodejs.
              Authentication and session management done using Jason Web Tokens(JWT).
            </p>
          </mat-card-content>
          <!-- <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions> -->
    </mat-card>
    <mat-card class="carddiv">
        <mat-card-header>
        
            <mat-card-title>MongoDB</mat-card-title>
            <mat-card-subtitle>Database layer</mat-card-subtitle>
          </mat-card-header>
         
          <mat-card-content>
              <img class="cardimg" src="../../assets/mongodb.svg" alt="Angular Pic">
            <p>
              Developed well modelled schema for legacy applications and successfully migrated to Mongo.
            </p>
          </mat-card-content>
          <!-- <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions> -->
    </mat-card>
  </div>

<footer>

  <div> contact me</div>

</footer>

</div>